 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  color: #ffff;
}
body{
  font-size: 18px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 39%, rgba(10,0,120,1) 100%);
}
header{
  height: 20vh;
  width: 100%;
  padding: 1.2rem 10%;
}

span{
  color: #007df1;
}

section{
  padding: 1.2rem 10%;
}

/* mobile nav */
  
.nav-mobile a {
    text-decoration: none;
}

.nav-mobile {
  height: 50px;
  display: none;
  justify-content: right;
}
  
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  justify-content: right;
}
  
#hamburger-icon div {
  width: 40px;
  height: 3px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;
}
  
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
  opacity: 0;
}
  
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 15px;
}

.open .mobile-menu a {
  color: white;
  text-decoration: none;
}
.open .mobile-menu a:hover{
  color: #007df1;
}

ul{
    list-style: none;
}
  
.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  /*height: calc(100vh - 50px); without this the background color doesn't leap over the hero section*/ 
  width: 100%;
  background-color: black;
}

.mobile-menu li {
    padding-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

/* mobile nav end */

nav  ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: right;
  font-size: 24px;
  margin-right: 90px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 35px 35px;
}
 ul li a{
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #007df1;
  border-radius: 5px;
  left: 0px;
  bottom: -6px;
  transition: transform .5s;
  transform: scaleX(0)
}
nav a:hover::after {
  transform: scaleX(1)
}
.logo{
  padding: 15px 20px;
}

/* Hero start */

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 15%;
}

.hero-content h1{
  font-size: 50px;
}
.hero-content h2{
  font-weight:lighter;
  font-size: 28px;
  margin-bottom: 10px;
}
.hero-content p{
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.hero-content{
  margin-right: 250px;;
  margin-top: 10%;
}

.hero-image img{
 filter: drop-shadow(5px 5px 5px black);
 height: auto;
 width: 100%;
 max-width: 400px;
}

/* Hero end */


/* Social icon start */

.social-icons {
  display: flex;
  font-size: 1.5rem;
}
.social-icons a{
  width: 3rem;
  height: 3rem;
  justify-content: center;
  margin: 1rem 1rem 2rem 0;
  text-decoration: none;
  display:inline-flex;
  align-items: center;
  border-radius: 50%;
  line-height: 46px;
  transition: 0.4s ease;
}

.social-icons  a:hover{
  box-shadow: 0 0 1rem #007df1;
  color: #007df1;
}
.social-icons a:hover .icon{
  color: #007df1;
}

/* Social icon end */
 
#skills-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.heading{
  font-size: 50px;
  text-align: center;
  margin-bottom: 200px;
}
.skills-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 6rem;
}
.skills-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skills-box:hover{
  border-radius: 1rem solid;
  transform: scale(1.05)
}
.skills-box .icon{
  font-size: 10rem;
}
.skills-box .icon:hover{
  color: #007df1;
}

/* My projects section start */

.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
} 
.snip1577 {
  font-family: 'Montserrat', Arial, sans-
serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
  padding: 10px;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


/* My projects section end */


/* scroll animations start */

.hidden{
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
/* scroll animations end */


@media only screen and (max-width: 1200px) {
html{
    font-size: 50%;
}
 header{
    padding: 2rem 5%;
 } 
nav ul{
    display: none;
}
.hero-image img {
    width: 20vw;
} 
#hamburger-icon {
    display: block;
} 
.nav-mobile{
    display: flex;
    padding: 20px 0px 0px 0px;
}
.logo{
  width: 220px;
}
}

@media only screen and (max-width: 992px) {
nav ul{
    display: none;
  }
  
header{
    padding: 1.2rem 5%;
    display: flex;
    justify-content: space-between;
  }
  
.hero-image img{
   width: 40vh;
}

.hero-content{
    margin-right: 0px;
}
.hero-content h1 {
  font-size: 40px;
}

.hero{
  margin-left: 0px;
  flex-direction: column;
}

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 390px) {
body{
 margin: 0;
 padding: 0;
}

section{
  padding: 1.2rem 14%;
}
  
nav ul{
  display: none;
  }

#hamburger-icon {
  display: block;
}

.nav-mobile{
  display: flex;
}
.logo{
  display: none;
}

.hero{
  margin-left: 0px;
  flex-direction: column;
  margin-bottom: 70%;
}
.hero-content{
    margin-right: 0px;
}
.hero-image img{
  width: 35vh;
}

.hero-content h1{
  font-size: 25px;
}
.hero-content h2{
  font-size: 20px;
}
.hero-content p{
  font-size: 15px;
  margin-bottom: 15px;
}
.social-icons{
  font-size: 2rem;
}
.skills-container{
  grid-template-columns: 1fr 1fr;
}
.heading{
  margin-bottom: 65px;;
}

}